body {
	font-family: Impact, Charcoal, sans-serif;
	background-color: #fffff0;
	color: #000000;
	h1, h2, h3, h4, h5, h6 {
		color: #66023c;
	}
	text-align: center;
	font-size: large;
	a {
		color: #66023c;
	}
	a:link, visited {
		text-decoration: underline;
	}
	a: active, hover, focus {
		text-decoration: none;
	}
	p.nav {
		text-align: center;
	}
	h2.nav {
		text-align: center;
	}
}
