body {
	font-family: Impact, Charcoal, sans-serif;
	background-color: #fffff0;
	color: #000000;
}
div.nav {
	border: none;
	color: #ffffff;
	background-color: #66023c;
	text-align: center;
	font-size: large;
}
div.nav a:link{
	color: #ffffff;
	text-decoration: underline;
}
div.nav a:visited {
	color: #ffffff;
	text-decoration: underline;
}
div.nav a:active {
	color: #ffffff;
	text-decoration: underline;
}
div.nav a:hover {
	color: #ffffff;
	text-transform: uppercase;
	text-decoration:none;

}
div.nav a:focus {
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}
