body {
	font-family: Impact, Charcoal, sans-serif;
	background-color: #fffff0;
	color: #000000;
}
div.nav {
	border: none;
	color: #ffffff;
	text-align: center;
	background-color: #66023c;
	font-size: large;
	a {
		color: #ffffff;
		background-color: #66023c;
	}
	a:link,visited,active {
		text-decoration: underline;
	}
	a:hover {
		text-decoration: none;
	}
}
